<div class="container-fluid mx-auto contenedor-gral">
  <div class="contenedor-logo">
    <img
      style="
        width: 10rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="../../../assets/admin-usuarios.png"
      alt="logo"
    />
  </div>
  <div class="row px-3" style="color: #fff" >
    <label class="mb-1"><h6 class="mb-0 text-sm" style="font-family: fantasy;">Dirección de Correo</h6></label>
    <input
      [(ngModel)]="email"
      class="mb-2"
      type="email"
      name="email"
      placeholder="Correo"
    />
  </div>
  <div class="row" style="padding-left: 20px; padding-right: 20px; color: #fff">
    <label><h6 class="text-sm" style="font-family: fantasy;">Contraseña</h6></label>
    <input 
      [(ngModel)]="password"
      type="password"
      name="password"
      placeholder="Contraseña"
    />
  </div>
  <div class="row mb-3 px-3" style="color: #fff">
    <button
      type="submit"
      class="btn btn-ingresar text-center"
      (click)="loginUser()"
    >
      Ingresar
    </button>
  </div>
  <div class="line"></div>

  <h6 class="mb-3 mr-4 mt-3 text-center" style="color: #fff; font-family: fantasy;">Ingreso rápido</h6>
  <div
    style="
      display: flex;
      justify-content: center;
      align-content: center;
      color: #fff;
    "
  >
    <div style="display: flex; justify-content: center">
      <label class="switch">
        <input type="checkbox" id="admin" (click)="loadFastUser(1)" />
        <span class="slider"></span>
      </label>
      <p style="margin-right: 5px; margin-left: 5px">Admin</p>
    </div>
    <div style="display: flex; justify-content: center">
      <label class="switch">
        <input type="checkbox" id="usuario" (click)="loadFastUser(3)" />
        <span class="slider"></span>
      </label>
      <p style="margin-right: 5px; margin-left: 5px">Usuario</p>
    </div>
    <div style="display: flex; justify-content: center">
      <label class="switch">
        <input type="checkbox" id="invitado" (click)="loadFastUser(2)" />
        <span class="slider"></span>
      </label>
      <p style="margin-right: 5px; margin-left: 5px">Invitado</p>
    </div>
  </div>
</div>
