@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:host {
    background-color: #000000;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  p {
    color: rgb(255, 255, 255); /* Cambia el color del texto a negro */
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
  }

  ul {
    margin-left: -1cm;
  }

  .splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #ffffff; /* Cambia el color de fondo según tu preferencia */
  }
  
  .blinking-icon {
    animation: blinker 1.5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  