<ion-content
  style="font-family: fantasy"
  [ngClass]="scanActive ? 'scanner-activo' : ''"
  noscroll
>
  <!-- ******************************* LOGOUT Y REINICIO DE SALDO *******************************-->
  <ion-fab vertical="top" horizontal="start" slot="fixed" *ngIf="!scanActive">
    <ion-fab-button color="dark">
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button
        (click)="logoutUser()"
        style="border: 1px solid #000; border-radius: 50%"
        ><ion-icon
          name="exit-sharp"
          style="
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            padding: 5px;
            font-size: 3rem;
          "
        ></ion-icon
      ></ion-fab-button>
      <ion-fab-button
        style="border: 1px solid #000; border-radius: 50%"
        id="open-custom-dialog"
        expand="block"
        ><ion-icon (click)="mostarSweetAlert()"
          name="trash-sharp"
          style="
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            padding: 5px;
            font-size: 3rem;
          "
        ></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- *************************** MODAL *************************** -->
 <!--  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper" style="padding: 10px; padding-bottom: 30px">
        <h1
          style="
            color: #fff;
            text-align: center;
            margin-bottom: 1rem;
            font-weight: bold;
          "
        >
          ¿Desea eliminar el saldo?
        </h1>
        <p
          style="
            color: #fff;
            text-align: center;
            margin-bottom: 1rem;
            font-weight: bold;
          "
        >
          Advertencia: ¡No es posible recuperar el saldo una vez que se elimina!
        </p>
        <div style="display: flex; justify-content: center">
          <button
            class="btn btn-danger"
            style="
              margin-right: 1rem;
              width: 8rem;
              font-size: 1.3rem;
            "
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button
            class="btn btn-success"
            style="
              margin-left: 1rem;
              width: 8rem;
              font-size: 1.3rem;
            "
            (click)="modal.dismiss()"
            (click)="restartCredit()"
          >
            Confirmar
          </button>
        </div>
      </div>
    </ng-template>
  </ion-modal> -->

  <!-- *************************** VISOR DE SALDO Y BOTON SCANNER *************************** -->
  <div class="visor">
    <h1 class="titulo" *ngIf="!scanActive">SALDO ACTUAL</h1>
    <h1 class="titulo" *ngIf="scanActive">ESCANEANDO ...</h1>
    <p
      class="monto"
      [ngClass]="{
        'scanner-activo-visor': scanActive,
        'monto-rojo': credit == 0 && !scanActive, 
        'monto-amarillo': (credit > 0 && credit <= 70) && !scanActive}"
    >
      ${{ this.credit }} <span></span>
    </p>
  </div>
  <div class="centrado">
    <button
      class="escanear"
      expand="block"
      type="button"
      (click)="startScan()"
      *ngIf="!scanActive"
    >
      <ion-text
        style="
          color: #fff;
          font-size: 1.7rem;
          font-family: fantasy;
        "
        >ESCANEAR <ion-icon name="qr-code-outline"></ion-icon
      ></ion-text>
    </button>
    <button
      class="escanear"
      expand="block"
      type="button"
      (click)="stopScan()"
      *ngIf="scanActive"
    >
      <ion-text
        style="
          color: #fff;
          font-size: 1.7rem;
          font-family: fantasy;
        "
        >DETENER <ion-icon name="scan-outline"></ion-icon
      ></ion-text>
    </button>
  </div>

  <!-- ******************************* SPINNER *******************************-->
  <ion-spinner
    *ngIf="pressedButton"
    color="danger"
    name="lines-sharp-small"
    style="
      display: inherit;
      margin: auto;
      width: 4cm;
      height: 4cm;
      margin-top: 2rem;
    "
  ></ion-spinner>
</ion-content>
