<ion-header [translucent]="true" *ngIf="!dificultad">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img class="icon-back" src="../../../assets/icon/clasificacion.png" name="logout" (click)="goTo('/ranking')"></ion-img>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-img class="icon-back" src="../../../assets/icon/apagar.png" name="logout" (click)="cerrarSesion()"></ion-img>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true" *ngIf="dificultad">
  <ion-toolbar>
    <ion-title>
      <span>{{ formatTime() }}</span>
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button fill="clear" shape="round" (click)="elegirNivel(0)">
        Volver
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <div class="container">
    <ion-title *ngIf="!dificultad" class="titulo-principal">Elegir dificultad </ion-title>

    <div class="contenedor-botones" *ngIf="!dificultad">      
      <div class="boton-numero" (click)="elegirNivel(1)">        
          <ion-title class="ion-text-center" style="font-size:xx-large">Fácil</ion-title>
      </div>

      <div class="boton-numero" (click)="elegirNivel(2)">
        <ion-title class="ion-text-center" style="font-size:xx-large">Medio</ion-title>
      </div>

      <div class="boton-numero" (click)="elegirNivel(3)">
        <ion-title class="ion-text-center" style="font-size:xx-large">Difícil</ion-title>
      </div>
    </div>

    <!-- ANIMALES -->
    <div class="contenedor-carta-animal" *ngIf="dificultad === 'Facil'">
      <div  class="carta-animal"  *ngFor="let item of cartas" (click)="jugar(item.id)">
        <div class="flip-container-animal" id="{{item.id}}" >
          <div class="flipper-animal">
            
            <div class="front-animal">
              <img src="../../../assets/cartas/signo-de-interrogacion.png" alt="pregunta">
            </div>
            
            <div class="back-animal">
              <img src="{{item?.urlImagen}}" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- MEDIOEVO -->
    <div class="contenedor-cartas-herramienta" *ngIf="dificultad === 'Medio'">
      <div  class="carta-herramienta"  *ngFor="let item of cartas" (click)="jugar(item.id)">
        <div class="flip-container-herramienta" id="{{item.id}}" >
          <div class="flipper-herramienta">
            
            <div class="front-herramienta">              
              <img src="../../../assets/cartas/signo-de-interrogacion.png" alt="pregunta">
            </div>

            <div class="back-herramienta">              
              <img src="{{item?.urlImagen}}" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
    
    <!-- INSTRUMENTOS -->
    <div class="contenedor-cartas-fruta" *ngIf="dificultad === 'Dificil'">
      <div  class="carta-fruta"  *ngFor="let item of cartas" (click)="jugar(item.id)">
        <div class="flip-container-fruta" id="{{item.id}}" >
          <div class="flipper-fruta" >
            
            <div class="front-fruta">
              <img src="../../../assets/cartas/signo-de-interrogacion.png" alt="pregunta">
            </div>

            <div class="back-fruta">
              <img src="{{item?.urlImagen}}" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
    
  </div> 

</ion-content>