// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// src/theme/variables.scss

:root {
    --ion-color-my-custom-color: #ff5733; /* Define tu color personalizado aquí */
    --ion-color-my-custom-color-rgb: 255, 87, 51;
    --ion-color-my-custom-color-contrast: #ffffff;
    --ion-color-my-custom-color-contrast-rgb: 255, 255, 255;
    --ion-color-my-custom-color-shade: #e14e2b;
    --ion-color-my-custom-color-tint: #ff6f4e;
  }
  
