<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="gastos">
      <ion-icon color="secondary" name="calendar" aria-hidden="true"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas">
      <ion-icon color="primary" name="bar-chart" aria-hidden="true"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ahorro">
      <ion-icon color="success" name="cash" aria-hidden="true"></ion-icon>
      <ion-label>Ahorro/Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logOut()" tab="personalized-icon">
      <img src="../../../assets/logout-mediano.png" alt="Cerrar Sesión" /> <!-- Usa un elemento img -->
      <ion-label>Salir</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
