.lindas{
    // background-color: rgba(78, 209, 27, 0.753);
    background-color: rgb(163, 201, 168);
    color: white;
    margin: 5px;
    border-radius: 20px;
}
.feas{
    // background-color: rgba(78, 209, 27, 0.753);
    background-color: rgb(127, 189, 224);
    color: white;
    margin: 5px;
    border-radius: 20px;
}
.icon-back{
    width: 50px;
    padding-right: 5px;
    padding-left: 5px;
}